@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navbar {
    background: linear-gradient(to right, orange, rgb(255, 138, 71));
    display: flex;
    margin: 10px 200px;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.nav-element {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul li {
    cursor: pointer;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.nav-buttons h3 {
    display: none;
}

.btn-primary {
    font-family: "Lato", sans-serif;
    background-color: #f03e73;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    color: white;

}

.btn-secondary {
    font-family: "Lato", sans-serif;
    background-color: tomato;
    font-weight: bold;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #f76d97;
    transition: background-color 0.2s;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: rgb(243, 122, 101);
    transition: background-color 0.2s;
    cursor: pointer;
}
.buttons{
    display: flex;
    gap: 10px;
}
.navbar ul li:hover {
    background: none;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s;
}